In [22]:
bigval = None
smallval = None

In [10]:
while True:
    val = input('enter a number')
    if val == 'done':
        break
    else:
        try:
            val = int(val)
        except:
            print('Invalid input')
            continue
    if bigval is None and smallval is None:
        bigval = val
    elif val > bigval:
        bigval = val
    elif smallval is None:
        smallval = val
    elif val < smallval:
        smallval = val

print('Maximum is',str(bigval))
print('Minimum is',str(smallval))

enter a number7
enter a number2
enter a numberbob
Invalid input
enter a number10
enter a number4
enter a numberdone
Maximum is 10
Minimum is 2

In [18]:
text = "X-DSPAM-Confidence:    0.8475";
ind = text.find(':')
print(ind)
num =text[ind+1:]
print(num)
ans = float(num.strip())
print(ans)

18
    0.8475
0.8475

In [ ]:
# Use the file name mbox-short.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
count = 0
addon = 0
for line in fh:
    if not line.startswith("X-DSPAM-Confidence:") : 
        continue
    count = count + 1
    ind = line.find(":")
    num = line[ind+1 : ]
    rnum = float(num.strip())
    addon = addon + rnum
    ave = addon / count
print("Average spam confidence: " + str(ave))

In [ ]:
#Assignment 8.4

In [ ]:
fh = open('romeo.txt')
words = list()
for line in fh:
    text = line.split()
    for val in text:
        if val in words:
            continue
        else:
            words.append(val)
words.sort()
print(words)

In [ ]:
#Assignment 8.5

In [ ]:
fh = open('mbox-short.txt')
count = 0
for line in fh:
    if line.startswith('From '):
        count = count + 1
        words = line.split()
        print(words[1])

print('There were', str(count),'lines in the file with From as the first word')

In [ ]:
#Assignment 9.4

In [ ]:
fh = open('mbox-short.txt')
contact = dict()
for line in fh:
    if line.startswith('From '):
        words = line.split()
        address = words[1]
        if address in contact:
            contact[address] = contact[address] +1
        else: 
            contact[address] = 1
#print(contact)
bigcount = None
bigperson = None
for k,v in contact.items():
    if bigcount is None:
        bigcount = v
        bigperson = k
    elif v > bigcount:
        bigcount = v
        bigperson = k

print(bigperson,bigcount)

In [ ]:
#name = input("Enter file:")
#if len(name) < 1 : 
name = "mbox-short.txt"
handle = open(name)
print(handle)
names = list()
for line in handle:
    #line = line.strip()
    #print(line)
    if line.startswith('From '):
        line = line.split()
        address = line[1]
        names.append(address)
#print(names)
people = dict()
for x in names:
    people[x] = people.get(x,0) + 1

bigcount = 0
bigkey = 0
for person,count in people.items():
    if count > bigcount:
        bigcount = count
        bigkey = person
print(bigkey,bigcount)

In [ ]:
#10-Tuples

In [19]:
c = {'a':10,'b':1,'c':22}
print(sorted([(v,k) for k,v in c.items()]))

[(1, 'b'), (10, 'a'), (22, 'c')]

In [ ]:
#Assignment 10.2

In [ ]:
name = "mbox-short.txt"
handle = open(name)
times = list()
for line in handle:
    if line.startswith('From '):
        line = line.split() 
        time = line[5]
        times.append(time)
#print(times)
clock = dict()
for time in times:
    hour = time[0:2]
    clock[hour] = clock.get(hour,0) + 1

for k,v in sorted(clock.items()):
    print(k,v)

In [ ]:
#Assignment 12.1

In [39]:
import socket

mysock = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org', 80))
cmd = 'GET http://data.pr4e.org/intro-short.txt HTTP/1.0\r\n\r\n'.encode()
mysock.send(cmd)

while True:
    data = mysock.recv(512)
    if len(data) < 1:
        break
    print(data.decode(),end='')

mysock.close()

HTTP/1.1 200 OK
Date: Fri, 21 May 2021 14:52:06 GMT
Server: Apache/2.4.18 (Ubuntu)
Last-Modified: Sat, 13 May 2017 11:22:22 GMT
ETag: "1d3-54f6609240717"
Accept-Ranges: bytes
Content-Length: 467
Cache-Control: max-age=0, no-cache, no-store, must-revalidate
Pragma: no-cache
Expires: Wed, 11 Jan 1984 05:00:00 GMT
Connection: close
Content-Type: text/plain

Why should you learn to write programs?

Writing programs (or programming) is a very creative
and rewarding activity.  You can write programs for
many reasons, ranging from making your living to solving
a difficult data analysis problem to having fun to helping
someone else solve a problem.  This book assumes that
everyone needs to know how to program, and that once
you know how to program you will figure out what you want
to do with your newfound skills.

In [ ]:
#Assignment 12.2

In [2]:
# To run this, download the BeautifulSoup zip file
# http://www.py4e.com/code3/bs4.zip
# and unzip it in the same directory as this file

from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

url = input('Enter - ')
html = urlopen(url, context=ctx).read()
soup = BeautifulSoup(html, "html.parser")

# Retrieve all of the anchor tags
tags = soup('span')
count = 0
total = 0
for tag in tags:
    # Look at the parts of a tag
    print('TAG:', tag)
    print('URL:', tag.get('href', None))
    print('Contents:', tag.contents[0])
    print('Attrs:', tag.attrs)
    count = count + 1
    total = total + int(tag.contents[0])

print(count)
print(total)

Enter - http://py4e-data.dr-chuck.net/comments_1147648.html
TAG: <span class="comments">99</span>
URL: None
Contents: 99
Attrs: {'class': ['comments']}
TAG: <span class="comments">98</span>
URL: None
Contents: 98
Attrs: {'class': ['comments']}
TAG: <span class="comments">96</span>
URL: None
Contents: 96
Attrs: {'class': ['comments']}
TAG: <span class="comments">92</span>
URL: None
Contents: 92
Attrs: {'class': ['comments']}
TAG: <span class="comments">92</span>
URL: None
Contents: 92
Attrs: {'class': ['comments']}
TAG: <span class="comments">90</span>
URL: None
Contents: 90
Attrs: {'class': ['comments']}
TAG: <span class="comments">89</span>
URL: None
Contents: 89
Attrs: {'class': ['comments']}
TAG: <span class="comments">88</span>
URL: None
Contents: 88
Attrs: {'class': ['comments']}
TAG: <span class="comments">87</span>
URL: None
Contents: 87
Attrs: {'class': ['comments']}
TAG: <span class="comments">86</span>
URL: None
Contents: 86
Attrs: {'class': ['comments']}
TAG: <span class="comments">82</span>
URL: None
Contents: 82
Attrs: {'class': ['comments']}
TAG: <span class="comments">79</span>
URL: None
Contents: 79
Attrs: {'class': ['comments']}
TAG: <span class="comments">77</span>
URL: None
Contents: 77
Attrs: {'class': ['comments']}
TAG: <span class="comments">76</span>
URL: None
Contents: 76
Attrs: {'class': ['comments']}
TAG: <span class="comments">76</span>
URL: None
Contents: 76
Attrs: {'class': ['comments']}
TAG: <span class="comments">69</span>
URL: None
Contents: 69
Attrs: {'class': ['comments']}
TAG: <span class="comments">66</span>
URL: None
Contents: 66
Attrs: {'class': ['comments']}
TAG: <span class="comments">66</span>
URL: None
Contents: 66
Attrs: {'class': ['comments']}
TAG: <span class="comments">65</span>
URL: None
Contents: 65
Attrs: {'class': ['comments']}
TAG: <span class="comments">62</span>
URL: None
Contents: 62
Attrs: {'class': ['comments']}
TAG: <span class="comments">58</span>
URL: None
Contents: 58
Attrs: {'class': ['comments']}
TAG: <span class="comments">56</span>
URL: None
Contents: 56
Attrs: {'class': ['comments']}
TAG: <span class="comments">54</span>
URL: None
Contents: 54
Attrs: {'class': ['comments']}
TAG: <span class="comments">51</span>
URL: None
Contents: 51
Attrs: {'class': ['comments']}
TAG: <span class="comments">51</span>
URL: None
Contents: 51
Attrs: {'class': ['comments']}
TAG: <span class="comments">46</span>
URL: None
Contents: 46
Attrs: {'class': ['comments']}
TAG: <span class="comments">45</span>
URL: None
Contents: 45
Attrs: {'class': ['comments']}
TAG: <span class="comments">44</span>
URL: None
Contents: 44
Attrs: {'class': ['comments']}
TAG: <span class="comments">43</span>
URL: None
Contents: 43
Attrs: {'class': ['comments']}
TAG: <span class="comments">39</span>
URL: None
Contents: 39
Attrs: {'class': ['comments']}
TAG: <span class="comments">35</span>
URL: None
Contents: 35
Attrs: {'class': ['comments']}
TAG: <span class="comments">33</span>
URL: None
Contents: 33
Attrs: {'class': ['comments']}
TAG: <span class="comments">27</span>
URL: None
Contents: 27
Attrs: {'class': ['comments']}
TAG: <span class="comments">26</span>
URL: None
Contents: 26
Attrs: {'class': ['comments']}
TAG: <span class="comments">25</span>
URL: None
Contents: 25
Attrs: {'class': ['comments']}
TAG: <span class="comments">25</span>
URL: None
Contents: 25
Attrs: {'class': ['comments']}
TAG: <span class="comments">24</span>
URL: None
Contents: 24
Attrs: {'class': ['comments']}
TAG: <span class="comments">19</span>
URL: None
Contents: 19
Attrs: {'class': ['comments']}
TAG: <span class="comments">18</span>
URL: None
Contents: 18
Attrs: {'class': ['comments']}
TAG: <span class="comments">17</span>
URL: None
Contents: 17
Attrs: {'class': ['comments']}
TAG: <span class="comments">15</span>
URL: None
Contents: 15
Attrs: {'class': ['comments']}
TAG: <span class="comments">11</span>
URL: None
Contents: 11
Attrs: {'class': ['comments']}
TAG: <span class="comments">10</span>
URL: None
Contents: 10
Attrs: {'class': ['comments']}
TAG: <span class="comments">10</span>
URL: None
Contents: 10
Attrs: {'class': ['comments']}
TAG: <span class="comments">9</span>
URL: None
Contents: 9
Attrs: {'class': ['comments']}
TAG: <span class="comments">7</span>
URL: None
Contents: 7
Attrs: {'class': ['comments']}
TAG: <span class="comments">7</span>
URL: None
Contents: 7
Attrs: {'class': ['comments']}
TAG: <span class="comments">5</span>
URL: None
Contents: 5
Attrs: {'class': ['comments']}
TAG: <span class="comments">4</span>
URL: None
Contents: 4
Attrs: {'class': ['comments']}
TAG: <span class="comments">1</span>
URL: None
Contents: 1
Attrs: {'class': ['comments']}
50
2450

In [ ]:
#Assignment 12.3

In [27]:
# To run this, download the BeautifulSoup zip file
# http://www.py4e.com/code3/bs4.zip
# and unzip it in the same directory as this file

import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import re

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

url = input('Enter URL - ')
count = int(input('Enter count - '))
position = int(input('Enter position - ')) - 1
html = urllib.request.urlopen(url, context=ctx).read()
soup = BeautifulSoup(html, 'html.parser')

# Retrieve all of the anchor tags
tags = soup('a')
sequence = list()
#print(tags)
for i in range(count):
    link = tags[position].get('href', None)
    print(link)
    sequence.append(tags[position].contents[0])
    html = urllib.request.urlopen(link, context=ctx).read()
    soup = BeautifulSoup(html, 'html.parser')
    tags = soup('a')
    link = tags[position].get('href', None)

print(sequence[-1])

Enter URL - http://py4e-data.dr-chuck.net/known_by_Fionnah.html
Enter count - 7
Enter position - 18
http://py4e-data.dr-chuck.net/known_by_Atom.html
http://py4e-data.dr-chuck.net/known_by_Abiya.html
http://py4e-data.dr-chuck.net/known_by_Leechan.html
http://py4e-data.dr-chuck.net/known_by_Lael.html
http://py4e-data.dr-chuck.net/known_by_Aadit.html
http://py4e-data.dr-chuck.net/known_by_Sihaam.html
http://py4e-data.dr-chuck.net/known_by_Kaydi.html
Kaydi

In [26]:
#重点是在loop里改变读取的url获取新的html

bs4.element.ResultSet

In [ ]:
#Assignment 13.1

In [10]:
import urllib.request
import xml.etree.ElementTree as ET


url = input('Enter -')
print('Retrieving ',url)
uh = urllib.request.urlopen(url)

data = uh.read()
print('Retrieved',len(data),'characters')
# print(data.decode())
tree = ET.fromstring(data)

results = tree.findall('comments/comment')
# print(results)
print('Count:',len(results))
total = 0
for result in results:
    count = result.find('count').text
    total = total + float(count)

print('Sum:',total)

Enter -http://py4e-data.dr-chuck.net/comments_1147650.xml
Retrieving  http://py4e-data.dr-chuck.net/comments_1147650.xml
Retrieved 4222 characters
Count: 50
Sum: 2470.0

In [ ]:
#Assignment 13.2

In [22]:
import json
import urllib.request,urllib.parse

url = input('Enter location:')
print('Retrieving',url)
uh = urllib.request.urlopen(url)
data = uh.read()
print('Retrieved',len(data),'characters')
info = json.loads(data)
# print(info)
print('Count:',len(info['comments']))
total = 0

for comment in info['comments']:
    total = total + float(comment['count'])
print('Sum:',total)

Enter location:http://py4e-data.dr-chuck.net/comments_1147651.json
Retrieving http://py4e-data.dr-chuck.net/comments_1147651.json
Retrieved 2726 characters
Count: 50
Sum: 2632.0

In [ ]:
#Assignment 13.3

In [3]:
import urllib.request, urllib.parse, urllib.error
import json
import ssl

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'
# https://developers.google.com/maps/documentation/geocoding/intro

if api_key is False:
    api_key = 42
    serviceurl = 'http://py4e-data.dr-chuck.net/json?'
else :
    serviceurl = 'https://maps.googleapis.com/maps/api/geocode/json?'

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

while True:
    address = input('Enter location: ')
    if len(address) < 1: break

    parms = dict()
    parms['address'] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters')
    #print(data)
    try:
        js = json.loads(data)
    except:
        js = None

    if not js or 'status' not in js or js['status'] != 'OK':
        print('==== Failure To Retrieve ====')
        print(data)
        continue
    
    id = js['results'][0]['place_id']
    print('Place id',id)

Enter location: University of Salamanca
Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Salamanca&key=42
Retrieved 1785 characters
Place id ChIJwTun8D8mPw0Rjdnzh_HBfAI
Enter location:

In [ ]:
#Example in lecture 14

In [3]:
class PartyAnimal:
    x = 0
    name = ''
    
    def __init__(self,z):
        self.name = z
        print(self.name,'constructed')
    
    def party(self):
        self.x = self.x + 1
        print(self.name,'party count',self.x)

s = PartyAnimal('Sally')
s.party()
j = PartyAnimal('Jim')
j.party()
s.party()

Sally constructed
Sally party count 1
Jim constructed
Jim party count 1
Sally party count 2

In [ ]:
#Example in lecture 14

In [6]:
class PartyAnimal:
    x = 0
    name = ''
    
    def __init__(self,z):
        self.name = z
        print(self.name,'constructed')
    
    def party(self):
        self.x = self.x + 1
        print(self.name,'party count',self.x)

class FootballFan(PartyAnimal):
    points = 0
    def touchdown(self):
        self.points = self.points + 7
        self.party()
        print(self.name,'points',self.points)

s = PartyAnimal('Sally')
s.party()

Sally constructed
Sally party count 1

In [9]:
j = FootballFan('Jim')
j.party()
j.touchdown()

Jim constructed
Jim party count 1
Jim party count 2
Jim points 7

In [ ]:
#Assignment 15.1

In [34]:
import sqlite3

conn = sqlite3.connect('emaildb.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

fname = 'mbox.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    line = line.strip()
    pieces = line.split('@')
#     print(pieces)
    org = pieces[1]
#     print(email)
    cur.execute('SELECT count FROM Counts WHERE org = ? ', (org,))
    row = cur.fetchone()
    if row is None:
        cur.execute('''INSERT INTO Counts (org, count)
                VALUES (?, 1)''', (org,))
    else:
        cur.execute('UPDATE Counts SET count = count + 1 WHERE org = ?',
                    (org,))
    conn.commit()

# # https://www.sqlite.org/lang_select.html
sqlstr = 'SELECT org, count FROM Counts ORDER BY count DESC'

for row in cur.execute(sqlstr):
    print(str(row[0]), row[1])

cur.close()

iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17
txstate.edu 17
whitman.edu 17
lancaster.ac.uk 14
bu.edu 14
stanford.edu 12
unicon.net 9
loi.nl 9
rsmart.com 8
ucdavis.edu 1
fhda.edu 1
utoronto.ca 1

In [49]:
#Assignment 15.2

In [48]:
import xml.etree.ElementTree as ET
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;
DROP TABLE IF EXISTS Genre;

CREATE TABLE Artist (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER NOT NULL PRIMARY KEY 
        AUTOINCREMENT UNIQUE,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    genre_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);

CREATE TABLE Genre (
    id  INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name    TEXT UNIQUE
);
''')


fname = input('Enter file name: ')
if ( len(fname) < 1 ) : fname = 'Library.xml'

# <key>Track ID</key><integer>369</integer>
# <key>Name</key><string>Another One Bites The Dust</string>
# <key>Artist</key><string>Queen</string>
def lookup(d, key):
    found = False
    for child in d:
        if found : return child.text
        if child.tag == 'key' and child.text == key :
            found = True
    return None

stuff = ET.parse(fname)
all = stuff.findall('dict/dict/dict')
print('Dict count:', len(all))
for entry in all:
    if ( lookup(entry, 'Track ID') is None ) : continue

    name = lookup(entry, 'Name')
    artist = lookup(entry, 'Artist')
    album = lookup(entry, 'Album')
    genre = lookup(entry,'Genre')

    if name is None or artist is None or album is None or genre is None : 
        continue

    print(name, artist, album, genre)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]
    
    cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre, ) )
    cur.execute('SELECT id FROM Genre WHERE name = ? ', (genre, ))
    genre_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, genre_id) 
        VALUES ( ?, ?, ? )''', 
        ( name, album_id, genre_id ) )

    conn.commit()

Enter file name:
Dict count: 404
Another One Bites The Dust Queen Greatest Hits Rock
Asche Zu Asche Rammstein Herzeleid Industrial
Beauty School Dropout Various Grease Soundtrack
Black Dog Led Zeppelin IV Rock
Bring The Boys Back Home Pink Floyd The Wall [Disc 2] Rock
Circles Bryan Lee Blues Is Funk
Comfortably Numb Pink Floyd The Wall [Disc 2] Rock
Crazy Little Thing Called Love Queen Greatest Hits Rock
Electric Funeral Black Sabbath Paranoid Metal
Fat Bottomed Girls Queen Greatest Hits Rock
For Those About To Rock (We Salute You) AC/DC Who Made Who Rock
Four Sticks Led Zeppelin IV Rock
Furious Angels Rob Dougan The Matrix Reloaded Soundtrack
Gelle Bryan Lee Blues Is Blues/R&B
Going To California Led Zeppelin IV Rock
Grease Various Grease Soundtrack
Hand of Doom Black Sabbath Paranoid Metal
Hells Bells AC/DC Who Made Who Rock
Hey You Pink Floyd The Wall [Disc 2] Rock
I Worry Bryan Lee Blues Is Blues/R&B
Iron Man Black Sabbath Paranoid Metal
Is There Anybody Out There? Pink Floyd The Wall [Disc 2] Rock
It was a Very Good Year Frank Sinatra Greatest Hits Easy Listening
Its Your Move Bryan Lee Blues Is Blues/R&B
Jack the Stripper/Fairies Wear Boots Black Sabbath Paranoid Metal
Killer Queen Queen Greatest Hits Rock
Laichzeit Rammstein Herzeleid Industrial
Let me Down Easy Bryan Lee Blues Is Blues/R&B
Misty Mountain Hop Led Zeppelin IV Rock
No Low Down Bryan Lee Blues Is Blues/R&B
Now You Are Gone America Greatest Hits Easy Listening
Outside The Wall Pink Floyd The Wall [Disc 2] Rock
Paranoid Black Sabbath Paranoid Metal
Planet Caravan Black Sabbath Paranoid Metal
Pretty Jeanie Bryan Lee Blues Is Blues/R&B
Rammstein Rammstein Herzeleid Industrial
Rat Salad Black Sabbath Paranoid Metal
Rock & Roll Led Zeppelin IV Rock
Rode Across the Desert America Greatest Hits Easy Listening
Sandy Various Grease Soundtrack
Shake Your Foundations AC/DC Who Made Who Rock
Sister Golden Hair America Greatest Hits Easy Listening
Somebody To Love Queen Greatest Hits Rock
Stairway To Heaven Led Zeppelin IV Rock
Strangers in the Night Frank Sinatra Greatest Hits Easy Listening
Summer Nights Various Grease Soundtrack
Summer Wind Frank Sinatra Greatest Hits Easy Listening
Thats Life Frank Sinatra Greatest Hits Easy Listening
The Battle Of Evermore Led Zeppelin IV Rock
The Blues "Is" Bryan Lee Blues Is Blues/R&B
There it Is Bryan Lee Blues Is Blues/R&B
Think Bryan Lee Blues Is Blues/R&B
This Town Frank Sinatra Greatest Hits Easy Listening
Tin Man America Greatest Hits Easy Listening
Track 01 Billy Price Danger Zone Blues/R&B
Track 02 Billy Price Danger Zone Blues/R&B
Track 03 Billy Price Danger Zone Blues/R&B
Messin with the Kid The Canettes Blues Band Self Titled Blues/R&B
Track 04 Billy Price Danger Zone Blues/R&B
Stormy Monday The Canettes Blues Band Self Titled Blues/R&B
Track 05 Billy Price Danger Zone Blues/R&B
Waiting on Ice Bryan Lee Blues Is Blues/R&B
War Pigs/Luke's Wall Black Sabbath Paranoid Metal
We Are The Champions Queen Greatest Hits Rock
We Will Rock You Queen Greatest Hits Rock
When Somebody Loves You Frank Sinatra Greatest Hits Easy Listening
When The Levee Breaks Led Zeppelin IV Rock
You are the One that I Want Various Grease Soundtrack
You Done Me Wrong Bryan Lee Blues Is Blues/R&B
You Shook Me All Night Long AC/DC Who Made Who Rock
You're My Best Friend Queen Greatest Hits Rock
Zion Fluke The Matrix Reloaded Soundtrack
Who Made Who AC/DC Who Made Who Rock
D.T. AC/DC Who Made Who Rock
Sink the Pink AC/DC Who Made Who Rock
Ride On AC/DC Who Made Who Rock
Chase the Ace AC/DC Who Made Who Rock
Wollt Ihr Das Bett In Flammen Sehen Rammstein Herzeleid Industrial
Der Meister Rammstein Herzeleid Industrial
Weisses Fleisch Rammstein Herzeleid Industrial
Seemann Rammstein Herzeleid Industrial
Du Riechst So Gut Rammstein Herzeleid Industrial
Das Alte Leid Rammstein Herzeleid Industrial
Heirate Mich Rammstein Herzeleid Industrial
Herzeleid Rammstein Herzeleid Industrial
Baba O'Riley The Who Who's Next Rock
Bargain The Who Who's Next Rock
Love Ain't for Keeping The Who Who's Next Rock
My Wife The Who Who's Next Rock
The Song Is Over The Who Who's Next Rock
Getting In Tune The Who Who's Next Rock
Going Mobile The Who Who's Next Rock
Behind Blue Eyes The Who Who's Next Rock
Won't Get Fooled Again The Who Who's Next Rock
Folsom Prison Blues Johnny Cash The Legend Of Johnny Cash Country
I Walk The Line Johnny Cash The Legend Of Johnny Cash Country
Get Rhythm Johnny Cash The Legend Of Johnny Cash Country
Big River Johnny Cash The Legend Of Johnny Cash Country
Guess Things Happen That Way Johnny Cash The Legend Of Johnny Cash Country
Ring Of Fire Johnny Cash The Legend Of Johnny Cash Country
Jackson Johnny Cash The Legend Of Johnny Cash Country
A Boy Named Sue (live) Johnny Cash The Legend Of Johnny Cash Country
You Raise Me Up Selah Hiding Place Gospel & Religious
Hold On, I'm Coming The Canettes Blues Band On Tap & In the Can Blues/R&B
Got my Mojo Working The Canettes Blues Band On Tap & In the Can Blues/R&B
Sweet Home Chicago The Canettes Blues Band On Tap & In the Can Blues/R&B
Heavy Love The Canettes Blues Band On Tap & In the Can Blues/R&B
Cold Cold Feeling The Canettes Blues Band On Tap & In the Can Blues/R&B
Lonely Avenue The Canettes Blues Band On Tap & In the Can Blues/R&B
Good Morning Little Schoolgirl The Canettes Blues Band On Tap & In the Can Blues/R&B
Dust My Broom The Canettes Blues Band On Tap & In the Can Blues/R&B
Gimme' Some Lovin The Canettes Blues Band On Tap & In the Can Blues/R&B
Everybody Needs Somebody to Love The Canettes Blues Band On Tap & In the Can Blues/R&B
Black Magic Woman The Canettes Blues Band On Tap & In the Can Blues/R&B
Steppin' Rooster The Canettes Blues Band On Tap & In the Can Blues/R&B
Our Love is Drifting The Canettes Blues Band On Tap & In the Can Blues/R&B
Doin' 100 The Canettes Blues Band On Tap & In the Can Blues/R&B
Mother Joy Matt Ender Natural Wonders Music Sampler 1999 New Age
Soldier's Lament Steve McDonald Natural Wonders Music Sampler 1999 New Age
Dulaman Altan Natural Wonders Music Sampler 1999 New Age
The Arrow Chris Spheeris Natural Wonders Music Sampler 1999 New Age
Spanish Eyes La Esperanza Natural Wonders Music Sampler 1999 New Age
Banana Bay Luis Villegas Natural Wonders Music Sampler 1999 New Age
Aguas De Marco Rosa Passos Natural Wonders Music Sampler 1999 New Age
Tamborea Energipsy Natural Wonders Music Sampler 1999 New Age
Gone Hollie Smith Natural Wonders Music Sampler 1999 New Age
The Immigrant Joanie Madden Natural Wonders Music Sampler 1999 New Age
Pahrump-Big Water Cusco Natural Wonders Music Sampler 1999 New Age
Seeker's Quest Cheryl Gunn Natural Wonders Music Sampler 1999 New Age
Floating To Forever Dean Everson Natural Wonders Music Sampler 1999 New Age
Open Road Jeff Bailey Relaxing Jazz Jazz
Ruby Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
The Angry Mob Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Heat Dies Down Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Highroyds Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Love's Not A Competition (But I'm Winning) Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Thank You Very Much Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
I Can Do It Without You Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
My Kind Of Guy Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Everything Is Average Nowadays Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Learnt My Lesson Well Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Try Your Best Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
Retirement Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
The Angry Mob [Live From Berlin] Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
I Like To Fight Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
From The Neck Down Kaiser Chiefs Yours Truly, Angry Mob Alternative & Punk
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 1 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 2 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business
The Wisdom of Crowds: Why the Many Are Smarter than the Few Part 3 of 3 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter than the Few (Abridged Nonfiction) Business
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 1 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 2 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 3 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 4 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction
The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Part 5 of 5 James Surowiecki The Wisdom of Crowds: Why the Many Are Smarter Than the Few (Unabridged) Nonfiction
Misty David Osborne Moonlight And Love Songs Classical
My Funny Valentine David Osborne Moonlight And Love Songs Classical
Since I Don't Have You David Osborne Moonlight And Love Songs Classical
Tenderly David Osborne Moonlight And Love Songs Classical
When I Fall In Love David Osborne Moonlight And Love Songs Classical
Unforgettable David Osborne Moonlight And Love Songs Classical
The Way You Look Tonight David Osborne Moonlight And Love Songs Classical
I've Grown Accustomed To Your Face David Osborne Moonlight And Love Songs Classical
Smoke Gets In Your Eyes David Osborne Moonlight And Love Songs Classical
Fly Me To The Moon David Osborne Moonlight And Love Songs Classical
Unchained Melody David Osborne Moonlight And Love Songs Classical
These Foolish Things Remind Me Of You David Osborne Moonlight And Love Songs Classical
La Vie En Rose David Osborne Moonlight And Love Songs Classical
As Time Goes By David Osborne Moonlight And Love Songs Classical
Pilot Fairly Legal Fairly Legal, Season 1 Drama
hte postal service - the impor The Postal Service unreleased demo Electronic
Winter Wonderland Bing Crosby Seasons Greatings Holiday
Jingle Bells Frank Sinatra Seasons Greatings Holiday
White Christmas Bing Crosby Seasons Greatings Holiday
The Christmas Song Frank Sinatra Seasons Greatings Holiday
Little Drummer Boy Bing Crosby Seasons Greatings Holiday
Silent Night Frank Sinatra Seasons Greatings Holiday
Let It Snow Bing Crosby Seasons Greatings Holiday
Mistletoe And Holly Frank Sinatra Seasons Greatings Holiday
O Holy Night Bing Crosby Seasons Greatings Holiday
Have Yourself A Merry Little Christmas Frank Sinatra Seasons Greatings Holiday
Do You Hear What I Hear Bing Crosby Seasons Greatings Holiday
I'll Be Home For Christmas Frank Sinatra Seasons Greatings Holiday
Voices Disturbed The Sickness Alternative
The Game Disturbed The Sickness Alternative
Stupify Disturbed The Sickness Alternative
Down With The Sickness Disturbed The Sickness Alternative
Violence Fetish Disturbed The Sickness Alternative
Fear Disturbed The Sickness Alternative
Numb Disturbed The Sickness Alternative
Want Disturbed The Sickness Alternative
Conflict Disturbed The Sickness Alternative
Shout 2000 Disturbed The Sickness Alternative
Droppin' Plates Disturbed The Sickness Alternative
Meaning Of Life Disturbed The Sickness Alternative
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Eben Upton: Raspberry Pi IEEE Computer Society Computing Conversations Podcast
Andrew Tanenbaum: Writing the Book on Networks IEEE Computer Society Computing Conversations Podcast
Massimo Banzi: Building Arduino IEEE Computer Society Computing Conversations Podcast
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
John C. Hollar: History of Computing IEEE Computer Society Computing Conversations Podcast
Bob Metcalfe: Ethernet at Forty IEEE Computer Society Computing Conversations Podcast
Gordon Bell: Building Blocks of Computing IEEE Computer Society Computing Conversations Podcast
Ian Horrocks: Standardizing OWL IEEE Computer Society Computing Conversations Podcast
Katie Hafner: The Origins of the Internet IEEE Computer Society Computing Conversations Podcast
Larry Smarr: Building Mosaic IEEE Computer Society Computing Conversations Podcast
Len Kleinrock: The Theory of Packets IEEE Computer Society Computing Conversations Podcast
Mitchell Baker: The Mozilla Foundation IEEE Computer Society Computing Conversations Podcast
Pooja Sankar: Building the Piazza Collaboration System IEEE Computer Society Computing Conversations Podcast
Van Jacobson: Content-Centric Networking IEEE Computer Society Computing Conversations Podcast
The Apache Software Foundation IEEE Computer Society Computing Conversations Podcast
A Brief History of Packets IEEE Computer Society Computing Conversations Podcast
Discovering JavaScript Object Notation IEEE Computer Society Computing Conversations Podcast
Inventing PHP IEEE Computer Society Computing Conversations Podcast

Monash Museum of Computing History IEEE Computer Society Computing Conversations Podcast
The Rise of JavaScript IEEE Computer Society Computing Conversations Podcast
Joseph Hardin: NCSA Mosaic IEEE Computer Society Computing Conversations Podcast
Len Kleinrock on the Internet's First Two Packets IEEE Computer Society Computing Conversations Podcast
Doug Van Houweling on Building the NSFNet IEEE Computer Society Computing Conversations Podcast
Computing Conversations: Nathaniel Borenstein on MIME IEEE Computer Society Computing Conversations Podcast
You Don't Mess Around With Jim Jim Croce Classic Hits Folk
Andrew S. Tanenbaum on MINIX IEEE Computer Society Computing Conversations Podcast
Computing Conversations: Elizabeth Fong on SQL Standards IEEE Computer Society Computing Conversations Podcast
Nii Quaynor on Bringing the Internet to Africa IEEE Computer Society Computing Conversations Podcast
PHP-09-Transactions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-01-Intro.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-02-Install.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-04-Expressions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-05-Functions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-06-Strings.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-12-Sessions.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-06-Objects.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
SI664-13-JSON-A.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-13-JavaScript.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-09-Database-Design.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-Tsugi-Install.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-10-MySQL-PDO.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
PHP-08-MySQL.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
SI664-13-JSON-B.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
IMS-Learning-Tools-Interoperability.mp3 Created by Sakai SI 664 W14's official Podcast. Podcast
An Interview with Don Waters Matt Pasiewicz CNI Event Coverage Speech
PY4INF-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
PY4INF-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-11-Regex.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-10-Tuples.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-09-Dictionaries.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-08-Lists.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-07-Files.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-06-Strings.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-05-Iterations.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-04-Functions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-03-Conditional.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-02-Expressions.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Py4Inf-01-Intro.mp3 Recording by Dr. Chuck Python for Informatics's official Podcast. Podcast
Ian Foster on the Globus Project IEEE Computer Society Computing Conversations Podcast
Khan Academy and Computer Science IEEE Computer Society Computing Conversations Podcast
Guido van Rossumon the Early Years of Python IEEE Computer Society Computing Conversations Podcast
Guido van Rossum on the Modern Era of Python IEEE Computer Society Computing Conversations Podcast
John Resig on Building jQuery IEEE Computer Society Computing Conversations Podcast
Roy T. Fielding on Understanding the REST Style IEEE Computer Society Computing Conversations Podcast
Anil Jain: 25 Years of Biometric Recognition IEEE Computer Society Computing Conversations Podcast
Waste Management Undercover Boss Undercover Boss, Season 1 Reality TV
Sleep Like a Baby Tonight U2 Songs of Innocence Rock
Evergreen The Black Crowes Warpaint Rock
Oh Josephine The Black Crowes Warpaint Rock
Movin' On Down the Line The Black Crowes Warpaint Rock
Wounded Bird The Black Crowes Warpaint Rock
Volcano U2 Songs of Innocence Rock
Wee Who See the Deep The Black Crowes Warpaint Rock
Cedarwood Road U2 Songs of Innocence Rock
Locust Street The Black Crowes Warpaint Rock
Raised By Wolves U2 Songs of Innocence Rock
The Troubles U2 Songs of Innocence Rock
This Is Where You Can Reach Me Now U2 Songs of Innocence Rock
God's Got It The Black Crowes Warpaint Rock
California (There Is No End to Love) U2 Songs of Innocence Rock
Every Breaking Wave U2 Songs of Innocence Rock
Interview With the Onion News Network Onion News Network Onion News Network, Season 1 Comedy
Song for Someone U2 Songs of Innocence Rock
The Miracle (Of Joey Ramone) U2 Songs of Innocence Rock
Iris (Hold Me Close) U2 Songs of Innocence Rock
Goodbye Daughters of the Revolution The Black Crowes Warpaint Rock
Walk Believer Walk The Black Crowes Warpaint Rock
Choice Hotels International Undercover Boss Undercover Boss, Season 2 Reality TV
Microchip Jason Farnham YouTube Audio Library Dance & Electronic
Anant Agarwal IEEE Computer Society Computing Conversations Podcast

In [ ]:
#Assignment 15.3

In [11]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0]
    title = entry[1]
    role = entry[2]

#     print((name, title, role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]
    
#     print(user_id)

    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]
#     print(course_id)

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id, role) VALUES ( ?, ?, ? )''',
        ( user_id, course_id, role ) )
    
    conn.commit()

In [ ]:
#Final Project

In [18]:
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  Case Western Reserve University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Found in database  Universitas Gadjah Mada

Found in database  Universitat Politecnica de Valencia

Found in database  Universite Catholique de Louvain

Found in database  University College Dublin

Found in database  University Munich

Found in database  University of Akron

Found in database  University of Alberta

Found in database  University of Amsterdam

Found in database  University of Arkansas

Found in database  University of Athens

Found in database  University of Belgrade

Found in database  University of Birmingham

Found in database  University of Buenos Aires

Found in database  University of Cambridge

Found in database  University of Central Oklahoma

Found in database  University of Chicago

Found in database  University of Cincinnati

Found in database  University of Colorado at Boulder

Found in database  University of Connecticut

Found in database  University of Dallas

Found in database  University of Debrecen

Found in database  University of Delaware

Found in database  University of Erlangen-Nuremberg

Found in database  University of Essex

Found in database  University of Evora

Found in database  University of Florida

Found in database  University of Gothenburg

Found in database  University of Greifswald

Found in database  University of Hamburg

Found in database  University of Hawaii

Found in database  University of Helsinki

Found in database  University of Ilorin Kwara State

Found in database  University of Jaffna

Found in database  University of Kansas

Found in database  University of Kerala

Found in database  University of London

Found in database  University of Malaga

Found in database  University of Malaya

Found in database  University of Manchester

Found in database  University of Michigan

Found in database  University of Missouri - Columbia

Found in database  University of Moratuwa

Found in database  University of Mumbai

Found in database  University of Nebraska

Found in database  University of Nebraska - Lincoln

Found in database  University of New Haven

Found in database  University of New South Wales

Found in database  University of Notre Dame

Found in database  University of Oklahoma

Found in database  University of Ottawa

Found in database  University of Oxford

Found in database  University of Padua

Found in database  University of Pavia Italy

Found in database  University of Pennsylvania

Found in database  University of Piraeus Athens

Found in database  University of Pretoria

Found in database  University of Salamanca

Found in database  University of Sao Paulo

Found in database  University of Sarajevo

Found in database  University of Southern California

Found in database  University of Stellenbosch

Found in database  University of Tartu

Found in database  University of Tehran

Found in database  University of Texas

Found in database  University of Texas at Austin

Found in database  University of Toronto

Found in database  University of Tuebingen

Found in database  University of Twente

Found in database  University of Utah

Found in database  University of Vienna

Found in database  University of Warsaw

Found in database  University of Washington

Found in database  University of Washington - Bothell

Found in database  University of Waterloo

Found in database  University of West Florida

Found in database  University of Wisconsin

Found in database  University of the Punjab Lahore

Found in database  University of the Witwatersrand

Found in database  Vilnius Gediminas Technical University

Found in database  Vilnius University

Found in database  Virginia Commonwealth University

Found in database  Virginia Tech

Found in database  Viswakarma Institute Pune India

Found in database  Warsaw University

Found in database  Washington State University

Found in database  Wayne State

Found in database  Weber State

Found in database  Weizmann Institute of Science

Found in database  Western Governors University

Found in database  Xavier University

Found in database  Zagazig University

Found in database  allama iqbal open university islamabad

Found in database  arizona state university

Found in database  federal institute of tecnology and education from southeastern Minas Gerais

Found in database  kansas state university

Found in database  universidad complutense de madrid

Found in database  university of Patras

Found in database  university of padua
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [19]:
import sqlite3
import json
import codecs

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue، Road، First New Cairo, Cairo Governorate 11835, Egypt 30.0189275 31.499707
Tempe, AZ 85281, USA 33.4242399 -111.9280527
Athens, OH 45701, USA 39.3301047 -82.1076022
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
Ilishan-Remo, Nigeria 6.8939569 3.7187158
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Mysore Rd, Jnana Bharathi, Bengaluru, Karnataka 560056, India 12.9503878 77.5022224
1311 S 5th St, Waco, TX 76706, USA 31.5488923 -97.1130573
19 Xinjiekou Outer St, Bei Tai Ping Zhuang, Haidian Qu, Beijing Shi, China, 100875 39.9619537 116.3662615
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
praspiekt Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
1000 Finch Ave W, North York, ON M3J 2V5, Canada 43.76908419999999 -79.4692584
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
1 Grand Ave, San Luis Obispo, CA 93407, USA 35.3011298 -120.6582825
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1813584 -117.3231875
1840 S 1300 E, Salt Lake City, UT 84105, USA 40.7322206 -111.8549815
New York, NY 10027, USA 40.8075355 -73.9625727
College Rd, Cranfield, Wharley End, Bedford MK43 0AL, UK 52.0746136 -0.6282833
166 36 Prague 6, Czechia 50.1030364 14.3912841
Hanover, NH 03755, USA 43.7044406 -72.2886935
21250 Stevens Creek Blvd, Cupertino, CA 95014, USA 37.3192827 -122.0447913
Universitätsstraße 11, 58097 Hagen, Germany 51.377114 7.494838999999999
Haharina Ave, 72, Dnipropetrovsk, Dnipropetrovska oblast, Ukraine, 49000 48.4331922 35.0427966
No: 144 35210, Alsancak, Cumhuriyet Blv, 35220 Konak/İzmir, Turkey 38.430691 27.13692
3141 Chestnut St, Philadelphia, PA 19104, USA 39.9566127 -75.18994409999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Durham, NC 27708, USA 36.0014258 -78.9382286
23 Avenue Guy de Collongue, 69130 Écully, France 45.7864448 4.7641329
CentraleSupélec, 3 Rue Joliot Curie, 91190 Gif-sur-Yvette, France 48.709445 2.1661629
50 Campus Drive, Elon, NC 27244, USA 36.1026877 -79.5023313
Spangsbjerg Kirkevej 103, 6700 Esbjerg, Denmark 55.4877012 8.4469108
Vía Perimetral 5, Guayaquil, Ecuador -2.1480702 -79.9644896
Münsterstraße 156, 40476 Düsseldorf, Germany 51.24683899999999 6.7916647
Urstein Süd 1, 5412 Puch, Austria 47.7233835 13.0871253
Av. Pereira Barreto, 400 - Vila Baeta Neves - Centro, São Bernardo do Campo - SP, 09751-000, Brazil -23.6956191 -46.5469041
Trg Dositeja Obradovića 6, Novi Sad 106314, Serbia 45.2461012 19.8516968
2350 NY-110, Farmingdale, NY 11735, USA 40.7529512 -73.4267093
Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901, Brazil -19.870682 -43.9677359
777 Glades Rd, Boca Raton, FL 33431, USA 26.3749876 -80.10106329999999
40 University Dr, Rindge, NH 03461, USA 42.7789743 -72.05553929999999
Gopinath Bordoloi Nagar, Jalukbari, Guwahati, Assam 781014, India 26.1540317 91.6629743
4400 University Dr, Fairfax, VA 22030, USA 38.8298118 -77.3073606
600 New Jersey Ave NW, Washington, DC 20001, USA 38.8977953 -77.0129087
Atlanta, GA 30302, USA 33.753068 -84.38528190000001
Grandville, MI, USA 42.9097484 -85.7630885
Andreas Vesaliusstraat 13, 3000 Leuven, Belgium 50.87485419999999 4.7077677
1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội, Vietnam 21.0070253 105.843136
Jerusalem 31.7945578 35.2414009
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448649 78.34981379999999
Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5123388 80.2329
Raja 4, 12616 Tallinn, Estonia 59.3954004 24.6641777
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
Santa Croce, 191, 30135 Venezia VE, Italy 45.4377574 12.3223297
10 W 35th St, Chicago, IL 60616, USA 41.8348731 -87.6270059
100 N University St, Normal, IL 61761, USA 40.5120479 -88.9931683
Indian Institute of Technology, Palaj, Gujarat 382355, India 23.2114604 72.6841857
Kharagpur, West Bengal 721302, India 22.3149274 87.31053109999999
Police Line Road, Main Campus IIT (ISM, near Rani Bandh, IIT (ISM, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004, India 23.8142953 86.44118069999999
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1754487 -86.512627
1100 Rue Notre-Dame Ouest, Montréal, QC H3C 1K3, Canada 45.4948236 -73.5623366
2400 Walsh Ave, Santa Clara, CA 95051, USA 37.3686167 -121.9695133
Av. de Los Próceres 49, Santo Domingo 10602, Dominican Republic 18.4880037 -69.96249499999999
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448649 78.34981379999999
Karl Marx St, 1, Irkutsk, Irkutskaya oblast, Russia, 664003 52.2766643 104.2777445
1, 12, CIT Rd, Bidhannagar, Kolkata, West Bengal 700054, India 22.5811617 88.3905995
Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085, India 17.4932682 78.3913929
New Mehrauli Road, JNU Ring Rd, New Delhi, Delhi 110067, India 28.5402232 77.1662154
Ar Ramtha 3030، Ar-Ramtha, Jordan 32.4950392 35.9912257
Manhattan, KS 66506, USA 39.1974437 -96.5847249
7447 W Talcott Ave #269, Chicago, IL 60631, USA 41.9687734 -87.83711509999999
1200 Academy St, Kalamazoo, MI 49006, USA 42.290035 -85.598145
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
Kremlyovskaya St, 18, Kazan, Respublika Tatarstan, Russia, 420008 55.790447 49.1214349
800 E Summit St, Kent, OH 44240, USA 41.1455594 -81.33928829999999
Marshala Bazhanova St, 17, Kharkiv, Kharkivska oblast, Ukraine, 61002 49.9951088 36.2420724
126 Pracha Uthit Rd, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon 10140, Thailand 13.65117 100.4966439
Kokshetau 020000, Kazakhstan 53.285023 69.3695728
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491699 30.4561487
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4491699 30.4561487
Velyka Vasylkivska St, 73, Kyiv, Ukraine, 03680 50.427615 30.517108
935 Ramsey Lake Rd, Sudbury, ON P3E 2C6, Canada 46.4702636 -80.9734288
Carrera 19 entre calles 8 y 9. Edificio Rectorado UCLA, Rectorado de la Universidad Centrooccidental Lisandro Alvarado, Carrera 19, Barquisimeto 3001, Lara, Venezuela 10.067504 -69.299891
Stefana Żeromskiego 116, 90-924 Łódź, Poland 51.7537146 19.4517176
Universytetska St, 1, Lviv, Lvivska oblast, Ukraine, 79000 49.8406108 24.0225099
Michigan, USA 42.701848 -84.4821719
Navalar Nagar, Chepauk, Triplicane, Chennai, Tamil Nadu 600005, India 13.0660293 80.28317190000001
Prospekt Lenina, 38, Magnitogorsk, Chelyabinskaya oblast, Russia, 455000 53.4222397 58.9824868
Hamadan Province, Malayer, University Blvd, Iran 34.304073 48.8452846
215 5th St, Marietta, OH 45750, USA 39.4164811 -81.4498947
Near Home WTC AUH, Airport Road - مدينة مصدر - أبو ظبي - United Arab Emirates 24.4326227 54.6184724
Studentski trg 16, Beograd 105104, Serbia 44.8199188 20.4587075
Michigan, USA 42.701848 -84.4821719
Üniversiteler, Dumlupinar Bulvari 1/6-133, 06800 Çankaya/Ankara, Turkey 39.88983820000001 32.780086
106, Parker Hall, 300 W 13th St, Rolla, MO 65409, USA 37.9537078 -91.7756271
Wellington Rd, Clayton VIC 3800, Australia -37.9109574 145.1371751
Wellington Rd, Clayton VIC 3800, Australia -37.9109574 145.1371751
Northways Rd, Churchill VIC 3842, Australia -38.311211 146.429409
Av. Eugenio Garza Sada 2501 Sur, Tecnológico, 64849 Monterrey, N.L., Mexico 25.6515649 -100.28954
Kashira Hwy, 31, Moskva, Russia, 115409 55.6502051 37.6643098
Institutskiy Pereulok, 9, Dolgoprudny, Moskovskaya oblast, Russia, 141701 55.9297243 37.5199434
Ulitsa Kolmogorova, 1, Moskva, Russia, 119991 55.70393490000001 37.5286696
Bisra Rd, National Institute of Technology, Jindal Colony, Udit Nagar, Rourkela, Odisha 769001, India 22.253537 84.90182639999999
New York, NY 10003, USA 40.72951339999999 -73.9964609
Amravati Rd, Ram Nagar, Nagpur, Maharashtra 440033, India 21.1468555 79.050062
50 Nanyang Ave, Singapore 639798 1.3483099 103.6831347
Grand Trunk Road, Barnala - Amritsar Bypass Rd, Jalandhar, Punjab 144011, India 31.3958746 75.5358439
No. 1, Section 4, Roosevelt Rd, Da’an District, Taipei City, Taiwan 10617 25.0173405 121.5397518
Av. Túpac Amaru 210, Rímac 15333, Peru -12.0231787 -77.04763009999999
30 N Brainard St, Naperville, IL 60540, USA 41.772663 -88.1440142
360 Huntington Ave, Boston, MA 02115, USA 42.3398067 -71.0891717
633 Clark St, Evanston, IL 60208, USA 42.0564594 -87.67526699999999
Obninsk, Kaluga Oblast, Russia, 249034 55.13719099999999 36.6070589
5115 Hampton Blvd, Norfolk, VA 23529, USA 36.8858594 -76.3057051
3201 Campus Dr, Klamath Falls, OR 97601, USA 42.2573474 -121.7849109
Autopista Duarte Km 1 1/2, Santiago De Los Caballeros 51000, Dominican Republic 19.4436005 -70.6843785
Tehran Province, Tehran, اتوبان ارتش کوی نفت, Nakhl St, Iran 35.8012314 51.5028533
State College, PA 16801, USA 40.7982133 -77.8599084
Piazza Leonardo da Vinci, 32, 20133 Milano MI, Italy 45.4784315 9.228342399999999
Splaiul Independenței 313, București 060042, Romania 44.4386064 26.0494925
Piața Victoriei 2, Timișoara 300006, Romania 45.7536393 21.2251615
Pondicherry University, Chinna Kalapet, Kalapet, Puducherry 605014, India 12.0182619 79.8568461
Av Libertador Bernardo OHiggins 340, Santiago, Región Metropolitana, Chile -33.44180680000001 -70.6399544
1825 SW Broadway, Portland, OR 97201, USA 45.5111471 -122.6834235
420 University Blvd, Indianapolis, IN 46202, USA 39.7749927 -86.1772798
Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059, India 12.9237228 77.4987012
110 8th St, Troy, NY 12180, USA 42.7297628 -73.67888839999999
505 Ramapo Valley Rd, Mahwah, NJ 07430, USA 41.081015 -74.1745057
1 Lomb Memorial Dr, Rochester, NY 14623, USA 43.0844955 -77.6749311
Trichy-Tanjore Road, Thirumalaisamudram, Thanjavur, Tamil Nadu 613401, India 10.7285131 79.0184111
University Embankment, 7/9, Sankt-Peterburg, Russia, 199034 59.941894 30.2989199
Bolshaya Morskaya Ulitsa, 67, Sankt-Peterburg, Russia, 190000 59.929491 30.2966081
Politekhnicheskaya Ulitsa, 29, Sankt-Peterburg, Russia, 195251 60.0076235 30.3731954
1600 Holloway Ave, San Francisco, CA 94132, USA 37.7241492 -122.4799405
1 Washington Sq, San Jose, CA 95192, USA 37.3351874 -121.8810715
China, Shanghai Shi, Minhang Qu, 东川路 邮政编码: 200240 31.0252201 121.4337784
Tehran, خیابان آزادی، تهران بزرگ،، Iran 35.703605 51.35153099999999
Sartenejas, Caracas, Miranda, Venezuela 10.408363 -66.8755735
8888 University Dr, Burnaby, BC V5A 1S6, Canada 49.2780937 -122.9198833
Ulitsa Przhevalskogo, 4, Smolensk, Smolenskaya oblast, Russia, 214000 54.7845032 32.0452469
1801 E Cotati Ave, Rohnert Park, CA 94928, USA 38.3395854 -122.6743811
925 S Federal Hwy, Boca Raton, FL 33432, USA 26.3416119 -80.0867329
Strada Ion Ghica 13, București 030045, Romania 44.4332166 26.1009718
450 Serra Mall, Stanford, CA 94305, USA 37.4274745 -122.169719
Cidade Universitária Zeferino Vaz - Barão Geraldo, Campinas - SP, 13083-970, Brazil -22.8184393 -47.0647206
7060 NY-104, Oswego, NY 13126, USA 43.45139280000001 -76.5425285
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
320 Washington St, North Easton, MA 02357, USA 42.058162 -71.08080029999999
Narva maantee 25, 10120 Tallinn, Estonia 59.4387321 24.7713836
Ehitajate tee 5, 12616 Tallinn, Estonia 59.3959451 24.6710596
Korkeakoulunkatu 7 Kampusareena, 33720 Tampere, Finland 61.4498286 23.8589986
El-Gaish, Tanta Qism 2, Tanta, Gharbia Governorate, Egypt 30.7924391 30.9991409
1500 Houston St, Fort Worth, TX 76102, USA 32.7474661 -97.3278753
Strada Memorandumului 28, Cluj-Napoca 400114, Romania 46.769299 23.585613
55 E 59th St Fl 13, New York, NY 10022, USA 40.7635221 -73.97166349999999
Tel Aviv-Yafo, Israel 32.1133141 34.8043877
Velachery Rd, Narayanapuram, Pallikaranai, Chennai, Tamil Nadu 600100, India 12.9452892 80.207843
Raiņa bulvāris 19, Centra rajons, Rīga, LV-1586, Latvia 56.95080979999999 24.1163132
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
Columbia, SC 29208, USA 33.9937575 -81.0299186
300 N Broadway, Lexington, KY 40508, USA 38.0516801 -84.49334189999999
419 Boston Ave, Medford, MA 02155, USA 42.4085371 -71.1182729
Berkeley, CA, USA 37.8718992 -122.2585399
Los Angeles, CA 90095, USA 34.068921 -118.4451811
9500 Gilman Dr, La Jolla, CA 92093, USA 32.8800604 -117.2340135
Champaign, IL, USA 40.1019523 -88.2271615
College Park, MD 20742, USA 38.9853283 -76.94943479999999
7400 E Arapahoe Rd # 10, Centennial, CO 80112, USA 39.5944197 -104.9024568
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
101 Regent Ct, State College, PA 16801, USA 40.7850584 -77.8230911
1520 San Pablo St #3800, Los Angeles, CA 90033, USA 34.0626169 -118.2025751
Madison, WI, USA 43.076592 -89.4124875
Caracas, Capital District, Venezuela 10.4883502 -66.8891696
Av. Séneca, 2, 28040 Madrid, Spain 40.4454368 -3.7299424
Av. Colombia #41-26, Medellín, Antioquia, Colombia 6.2465753 -75.56120200000001
University City, Coyoacán, 04510 Mexico City, CDMX, Mexico 19.3228313 -99.18657739999999
Avenida 1, Calle 9 Heredia 86 Heredia, Heredia, 40101, Costa Rica 9.998752 -84.11129910000001
Cra 45, Bogotá, Colombia 4.6381938 -74.08404639999999
Carretera Libre Tijuana-Tecate Km 10 Fracc. El Refugio, El Refugio, Quintas Campestre, 22253 Redondo, B.C., Mexico 32.46094900000001 -116.825415
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Rectorado UCLM, Calle Altagracia, 50, 13001 Ciudad Real, Cdad. Real, Spain 38.9934998 -3.9254365
Cra. 1 #18a-12, Bogotá, Cundinamarca, Colombia 4.601458099999999 -74.0661334
Santiago de Cuba, Cuba 20.0435146 -75.81728939999999
11 Avenida, Cdad. de Guatemala 01012, Guatemala 14.5873005 -90.55336129999999
C/Plaza de Santa Cruz, 8, 47002 Valladolid, Spain 41.6569271 -4.7140547
Chía, Cundinamarca, Colombia 4.8615787 -74.0325368
18 Avenida 11-95 Guatemala, Cdad. de Guatemala 01015, Guatemala 14.603762 -90.48924799999999
Campus I - Lot. Cidade Universitaria, João Pessoa - PB, 58051-900, Brazil -7.1377579 -34.8458995
R. Eng. Agronômico Andrei Cristian Ferreira, s/n - Trindade, Florianópolis - SC, 88040-900, Brazil -27.5999666 -48.5194152
Av. Paulo Gama, 110 Secretaria de Comunicação Social - 8º andar - Reitoria - Farroupilha, Porto Alegre - RS, 90040-060, Brazil -30.0332408 -51.2207273
Avenida Pedro Calmon, 550 Reitoria - Cidade Universitária da Universidade Federal do Rio de Janeiro, Rio de Janeiro - RJ, 21941-901, Brazil -22.8625345 -43.2234737
Av. Rovisco Pais 1, 1049-001 Lisboa, Portugal 38.7368192 -9.138705
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
R. da Universidade, 4710-057 Braga, Portugal 41.5607319 -8.3962368
Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia -7.7713847 110.3774998
1708 W 11th St, Coffeyville, KS 67337, USA 37.0338066 -95.6439793
Camí de Vera, s/n, 46022 València, Valencia, Spain 39.4807985 -0.3406299
Place de lUniversité 1, 1348 Ottignies-Louvain-la-Neuve, Belgium 50.66968749999999 4.6155909
University College Dublin, Belfield, Dublin 4, Ireland 53.3067494 -6.221033599999999
Geschwister-Scholl-Platz 1, 80539 München, Germany 48.1504827 11.5802362
302 E Buchtel Ave, Akron, OH 44325, USA 41.0770227 -81.5114462
116 St & 85 Ave, Edmonton, AB T6G 2R3, Canada 53.5232189 -113.5263186
1012 WX Amsterdam, Netherlands 52.35581819999999 4.955726299999999
Fayetteville, AR 72701, USA 36.0686895 -94.1748471
Athens 157 72, Greece 37.968196 23.7786871
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
Birmingham, UK 52.4508168 -1.9305135
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
The Old Schools, Trinity Ln, Cambridge CB2 1TN, UK 52.2042666 0.1149085
100 N University Dr, Edmond, OK 73034, USA 35.657506 -97.4709491
5801 S Ellis Ave, Chicago, IL 60637, USA 41.7886079 -87.5987133
2600 Clifton Ave, Cincinnati, OH 45220, USA 39.1329219 -84.51495039999999
Boulder, CO 80309, USA 40.00758099999999 -105.2659417
Storrs, CT 06269, USA 41.8077414 -72.2539805
1845 E Northgate Dr, Irving, TX 75062, USA 32.8449929 -96.9186842
Debrecen, Egyetem tér 1, 4032 Hungary 47.5536257 21.6215102
Newark, DE 19716, USA 39.6779504 -75.7506114
Schloßplatz 4, 91054 Erlangen, Germany 49.5978804 11.0045507
Wivenhoe Park, Colchester CO4 3SQ, UK 51.87772589999999 0.9472069000000001
Largo dos Colegiais 2, 7000-803 Évora, Portugal 38.572984 -7.905253999999999
Gainesville, FL 32611, USA 29.6436325 -82.3549302
405 30 Gothenburg, Sweden 57.6981719 11.971878
Domstraße 11, 17489 Greifswald, Germany 54.0949653 13.374584
20146 Hamburg, Germany 53.5665641 9.984619499999999
2500 Campus Rd, Honolulu, HI 96822, USA 21.296939 -157.8171118
Yliopistonkatu 4, 00100 Helsinki, Finland 60.1726348 24.9510419
No C2, Studiopedia, Off Ministry of Health, Fate Tanke Rd, behind Lgea Primary School, Ilorin, Nigeria 8.4928414 4.5962225
Sir. Pon, Ramanathan Rd, Jaffna, Sri Lanka 9.684855599999999 80.0220413
1450 Jayhawk Blvd, Lawrence, KS 66045, USA 38.9543439 -95.2557961
University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034, India 8.5032375 76.9473306
Senate House, Malet St, London WC1E 7HU, UK 51.5229378 -0.1308206
Av. de Cervantes, 2, 29016 Málaga, Spain 36.7199495 -4.4161391
Jln Profesor Diraja Ungku Aziz, 50603 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia 3.1209046 101.6538414
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
500 S State St, Ann Arbor, MI 48109, USA 42.2780436 -83.7382241
Columbia, MO 65211, USA 38.9403808 -92.32773750000001
Bandaranayake Mawatha, Moratuwa 10400, Sri Lanka 6.7951276 79.90086699999999
Mahatma Gandhi Road, Kolivery Village, University of Mumbai,Vidya Nagari, Kala Ghoda, Fort, Mumbai, Maharashtra 400032, India 18.9293321 72.8310376
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
300 Boston Post Rd, West Haven, CT 06516, USA 41.2906121 -72.9615489
Sydney NSW 2052, Australia -33.917347 151.2312675
Notre Dame, IN 46556, USA 41.6991133 -86.2387627
660 Parrington Oval, Norman, OK 73019, USA 35.2058936 -97.4457137
75 Laurier Ave. E, Ottawa, ON K1N 6N5, Canada 45.42310639999999 -75.68313289999999
Oxford OX1 2JD, UK 51.7548164 -1.2543668
Via VIII Febbraio, 2, 35122 Padova PD, Italy 45.406766 11.8774462
Corso Str. Nuova, 65, 27100 Pavia PV, Italy 45.1867045 9.1570944
Philadelphia, PA 19104, USA 39.9522188 -75.1932137
Karaoli ke Dimitriou 80, Pireas 185 34, Greece 37.9415137 23.6528681
Madison, WI, USA 43.076592 -89.4124875
37008 Salamanca, Spain 40.9613376 -5.666925099999999
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
Obala Kulina bana 7/II, Sarajevo 71000, Bosnia and Herzegovina 43.8568576 18.4189278
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
Ülikooli 18, 50090 Tartu, Estonia 58.3810843 26.7198659
Tehran Province, Tehran, Enghelab Square، Iran 35.7022192 51.39573069999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Austin, TX 78712, USA 30.2849185 -97.7340567
27 Kings College Cir, Toronto, ON M5S, Canada 43.6628917 -79.39565640000001
Geschwister-Scholl-Platz, 72074 Tübingen, Germany 48.5294782 9.043773999999999
Drienerlolaan 5, 7522 NB Enschede, Netherlands 52.2397109 6.8498213
201 Presidents Cir, Salt Lake City, UT 84112, USA 40.7649368 -111.8421021
Universitätsring 1, 1010 Wien, Austria 48.21318549999999 16.3600504
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
1900 Commerce St, Tacoma, WA 98402, USA 47.2450749 -122.4380389
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589719 -122.190707
200 University Ave W, Waterloo, ON N2L 3G1, Canada 43.4722854 -80.5448576